.Rec{
    background: #d7f2ff;
    height:900px;
    width:85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    box-shadow: 25px 25px 25px 25px #d7f2ff;
}
.img{
    height:600px;
    width:600px;
}
.Sneep{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 35%; */
    flex-direction: column;
}
.Sneep img{
    height:600px;
    width:400px;
}
.Sneep h1{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color:rgb(26, 25, 29)
}
.Sneep p{
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color:rgb(26, 25, 29)
}
.Price{
    font-size: 25px;
}