.Footer{
    display: flex;
    background-color: black;
    margin-top: 20px;
    height:300px;
    width:100%;
}
.Nike{
    color:White;
    font-size: 12px;
    text-align: center;
}
.About_Nike{
    color:White;
    font-size: 12px;
    text-align: center;
}
.about_email{
    color:White;
font-size: 7
}
.about_location{
    color:White;
    font-size: 11;

}
.about_phone{
    color:White;
    font-size: 11;

}
.div1_about{
    margin-left: 50px;
}
.Nikee{
    font-size: 32px;
    color:white;
    box-shadow: 5px aqua;
    font-weight: 1000;
}
.LiOfNike{
    font-weight: 600;
    list-style-type: none;
    font-size:larger;
    color:white;
}
.div2{
    margin-left: 100px;
}